header{
    display:flex;
    justify-content:space-between;
    font-size:21px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#scoresBtn{
    color:rgb(189, 43, 226);
}

body{
    position:relative;
}

main{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    height:70vh;
}

main *{
    margin:5px;
    vertical-align: middle;
}

#Title{
    font-size:38px;
}

#Prompt{
    font-size:25px;
}

button{
    border-radius:8px;
    background-color: rgb(74, 17, 128);
    padding: 10px 15px;
    font-size:15px;
    color:white;
    cursor:pointer;
}

#Next{
    float:right;
    display:none;
}

.answer{
    display:none;
    min-width: 225px;
}